exec
results
results-strong-scaling
results-weak-scaling
results-computational-time
Latex/*/*.aux
Latex/*/*.log
Latex/*/*.out
Latex/*/*.synctex.gz
Latex/*/*.nav
Latex/*/*.snm
Latex/*/*.toc
Latex/*/*.vrb
matlab/matlab2tikz
